// Colores principales
$primary_color: #156082;
$secondary_color: #f5f5f5;
$gray: #353535;
$white: #ffffff;

// Colores de ventanas de mensajes
$msg_text_error_color: #b94a48;
$msg_text_success_color: #468847;
$msg_text_warning_color: #c09853;
$msg_text_info_color: #3a87ad;
$msg_background_error_color: #f2dede;
$msg_background_success_color: #dff0d8;
$msg_background_warning_color: #fcf8e3;
$msg_background_info_color: #dff0d8;

// Colores de botones
$primary_btn_color: #1D86B5;

// Colores de formularios
$form_box_border_color: #c2c2c2;
$form_box_color: $gray;
$form_box_background: #ffffff;
$form_background_color: #f5f5f5;

// Colores de tablas
$table_shadow_color: #c2c2c2;
$table_th_color: #f5f5f5;

// Colores para carga
$loader_background: #ffffff;
