// Colores principales
$primary_color: #06c;
$secondary_color: #353535;
$primary_color_hover: #007bff;
$secondary_color_hover: #353535;
$black1: #000000;
$black2: #202020;
$black3: #404040;
$black4: #808080;
$black: $black1;
$white1: #ffffff;
$white2: #f5f5f5;
$white3: #e0e0e0;
$white4: #bfbfbf;
$white: $white1;
$valid_color: #008000;
$invalid_color: #FF0000;

// Colores de ventanas de mensajes
$msg_text_error_color: #b94a48;
$msg_text_success_color: #468847;
$msg_text_warning_color: #c09853;
$msg_text_info_color: #3a87ad;
$msg_background_error_color: #f2dede;
$msg_background_success_color: #dff0d8;
$msg_background_warning_color: #fcf8e3;
$msg_background_info_color: #dff0d8;

// Colores para botones
$add_button_background: #006400;
$add_button_background_hover: #004b00;
$edit_button_background: #004080;
$edit_button_background_hover: #003060;
$delete_button_background: #8b0000;
$delete_button_background_hover: #6b0000;
$disabled_button_background: #dddddd;

// Colores para carga
$loader_background: $white;






$black: #000000;
$gray: #353535;
$white: #ffffff;
$white2: #c2c2c2;
$red: #ff4d4d;

// Colores para barra de navegación
$nav_background: #0056b3;
$nav_background_link: #004494;

// Colores de ventanas de mensajes
$msg_text_error_color: #b94a48;
$msg_text_success_color: #468847;
$msg_text_warning_color: #c09853;
$msg_text_info_color: #3a87ad;
$msg_background_error_color: #f2dede;
$msg_background_success_color: #dff0d8;
$msg_background_warning_color: #fcf8e3;
$msg_background_info_color: #dff0d8;

// Colores de botones
$primary_btn_background: #0056b3;
$primary_btn_color: #f5f5f5;
$primary_btn_hover: #004494;
$secondary_btn_background: #f5f5f5;
$secondary_btn_color: #0056b3;
$secondary_btn_hover: #e6f2ff;

// Colores de formularios
$form_box_border_color: #c2c2c2;
$form_box_color: $gray;
$form_box_background: #ffffff;
$form_label_color: #666666;

// Colores de tablas
$table_shadow_color: #c2c2c2;
$table_th_color: #f5f5f5;

// Colores para carga
$loader_background: #ffffff;

// Colores para modal
$modal_background: rgb(255,255,255,0.4);
