@import './form.scss';

.container-module{
    width: 100%;
    padding: 20px;
}
h2{
    box-shadow: 0px 2px $primary_color;
    padding: 5px;
}
.container-module{
    width: 100%;
}

.container-table{
    
}