* {
  padding: 0px;
  margin: 0px;
  font-family: arial;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.container-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
h1 {
  color: #156082;
  text-align: center;
}
form {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: #f5f5f5;
  border: 2px solid #156082;
}
form label {
  width: 100%;
  display: flex;
  border: 1px solid #c2c2c2;
}
form label span {
  width: 100%;
  text-align: left;
  padding: 5px;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  background-color: #156082;
}
form label input {
  width: 100%;
  color: #353535;
  background-color: #ffffff;
  padding: 5px;
  border: none;
  outline: none;
}
form label input:focus {
  border: 1px solid #1D86B5;
}
form .container-btn {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
form .container-btn input {
  padding: 5px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
form .container-btn .btn-primary {
  background-color: #1D86B5;
  color: #f5f5f5;
}
form .container-btn input:hover {
  background-color: #156082;
}
