@import 'font/colors.scss';

.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1{
    color: $primary_color;
    text-align: center;
}

form{
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    background-color: $form_background_color;
    border: 2px solid $primary_color;

    label{
        width: 100%;
        display: flex;
        border: 1px solid $form_box_border_color;

        span{
            width: 100%;
            text-align: left;
            padding: 5px;
            display: flex;
            align-items: center;
            color: $secondary_color;
            background-color: $primary_color;
        }
        input{
            width: 100%;
            color: $form_box_color;
            background-color: $form_box_background;
            padding: 5px;
            border: none;
            outline: none;
        }
        input:focus{
            border: 1px solid $primary_btn_color;
        }
    }
    .container-btn{
        width: 100%;
        display: flex;
        justify-content: right;
        margin-top: 10px;

        input{
            padding: 5px;
            border: none;
            transition: all 0.3s ease;
            cursor: pointer;
        }
        .btn-primary{
            background-color: $primary_btn_color;
            color: $secondary_color;
        }
        input:hover{
            background-color: $primary_color;
        }
    }
}