@import 'font/colors.scss';

header{
    width: 200px;
    height: 100vh;
    background-color: $secondary_color;
    display: block;

    .container-logo img{
        width: 100%;
    }
    .container-user{
        width: 100%;
        display: block;
        padding: 7px;
        color: $gray;
        font-size: 0.9em;
        text-align: center;

        .user{
            opacity: 0.7;
            margin-top: 5px;
            font-size: 0.8em;
        }
    }
    .navigator{
        width: 100%;
        margin-top: 10px;
        background-color: $secondary_color;
        overflow: auto;
        box-shadow: 0px -2px $primary_color;

        a{
            width: 100%;
            padding: 7px;
            text-decoration: none;
            display: block;
            color: $primary_color;
            box-shadow: 0px 1px $primary_color;
            transition: all 0.2s ease;
        }
        a:hover{
            color: $secondary_color;
            background-color: $primary_color
        }
    }
}