@import 'table.scss';

.container-paginator{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

    .container-pages{
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        li{
            list-style: none;
            padding: 5px;
            color: $primary_color;
            background-color: $secondary_color;
            border: 1px solid $primary_color;
            text-align: center;
            cursor: pointer;
        }
        .selected{
            background-color: $primary_color;
            color: $white;
            border: 1px solid $table_shadow_color;
        }
        li:hover{
            background-color: $primary_color;
            color: $white;
            border: 1px solid $table_shadow_color;
        }
    }

    .container-total-pages{
        display: flex;
        color: $gray;
    }
}