* {
  padding: 0px;
  margin: 0px;
  font-family: arial;
  box-sizing: border-box;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
table {
  width: 100%;
}
table td, table th {
  padding: 5px;
  box-shadow: 0px 1px #c2c2c2;
}
table th {
  text-align: left;
  color: #f5f5f5;
  background-color: #156082;
  cursor: pointer;
}
.container-paginator {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}
.container-paginator .container-pages {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container-paginator .container-pages li {
  list-style: none;
  padding: 5px;
  color: #156082;
  background-color: #f5f5f5;
  border: 1px solid #156082;
  text-align: center;
  cursor: pointer;
}
.container-paginator .container-pages .selected {
  background-color: #156082;
  color: #ffffff;
  border: 1px solid #c2c2c2;
}
.container-paginator .container-pages li:hover {
  background-color: #156082;
  color: #ffffff;
  border: 1px solid #c2c2c2;
}
.container-paginator .container-total-pages {
  display: flex;
  color: #353535;
}
